--extra-index-url https://download.pytorch.org/whl/cpu

db-dtypes
geopandas
google-cloud-bigquery
google-cloud-storage
joblib
keplergl
matplotlib
networkx
numpy
pandas
plotly
pyarrow
regex
requests
scikit-learn>=1.3.0
seaborn
shapely
shap
streamlit
streamlit-keplergl
streamlit-pdf-viewer
tensorflow-cpu
torch
transformers
xgboost>=2.0.0