# --- NEURAL ENGINE (FORZANDO CPU & COMPATIBILIDAD) ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0+cpu
torchvision==0.19.0+cpu
torchaudio==2.4.0+cpu
numpy<2.0.0

# --- CORE DATA ENGINE ---
pandas
scipy
SQLAlchemy
pyarrow

# --- NLP & SEMANTICS ---
transformers
pysentimiento
emoji
nltk
textblob
regex
gensim

# --- MACHINE LEARNING & STATS ---
scikit-learn
statsmodels
umap-learn
xgboost
optuna
shap
hdbscan

# --- GEOSPATIAL (CDMX STACK) ---
geopandas
contextily
pyproj
shapely
h3>=4.0.0
keplergl
folium
alphashape

# --- CLOUD & BIG DATA (GCP) ---
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
pandas-gbq

# --- VISUALIZATION & JUPYTER ---
matplotlib
seaborn
plotly
wordcloud
nbformat
ipykernel
ipywidgets
graphviz

# --- OTROS ---
pyjokes